<div class="row">
  <div class="col-12 text-end">
    <mat-icon mat-dialog-close>close</mat-icon>
  </div>
</div>
<div class="row m-0 p-4">
  <!-- PREVIEW -->
  <div class="row p-2 mt-3">
    <!-- TITTLE -->
    <div class="col-12">
      <h5>VISTA PREVIA DE COTIZACION</h5>
      <p class="text-muted fs-5 p-1 fw-bold">{{ quotation.quotation_no }}</p>
    </div>
  </div>

  <div class="row p-2 mt-1">
    <!-- ASSIGNED -->
    <div class="col-12 text-end">
      <p>
        <b>Asignado:</b>
        <span class="px-2">{{
          quotation.assign_to && quotation.assign_to.username
            ? quotation.assign_to.username
            : ""
        }}</span>
      </p>
    </div>

    <!-- DATE -->
    <div class="col-2">
      <p>{{ quotation.date_request | date }}</p>
    </div>

    <!-- STATUS -->
    <div class="col-6">
      <p class="fw-bold">{{ quotation.status }}</p>
    </div>

    <!-- ENABLED -->
    <div class="col-2 text-center">
      <p
        [class]="
          quotation.enabled ? 'text-success fw-bold' : 'text-danger fw-bold'
        "
      >
        {{ quotation.enabled ? "Activa" : "Inactiva" }}
      </p>
    </div>

    <!-- PRIORITY -->
    <div class="col-2 text-center">
      <p class="">
        <span class="text-muted"> Prioridad: </span>
        <span [class]="getPriorityClass(quotation.priority)">{{
          getPriority(quotation.priority)
        }}</span>
      </p>
    </div>

    <!-- CLIENT -->
    <div class="col-4">
      <p class="text-uppercase">
        {{ (quotation.company ? quotation.company.nickname : "") | uppercase }}
      </p>
    </div>

    <!-- CONTACT -->
    <div class="col-4">
      <p class="text-capitalize">
        {{ (quotation.contact ? quotation.contact.name : "") | uppercase }}
      </p>
    </div>

    <!-- DESCRIPTION -->
    <div class="col-12">
      <p class="">{{ quotation.description }}</p>
    </div>

    <!-- SERVICE -->
    <div class="col-12 my-5">
      <div class="row">
        <div class="col-12">
          <h6 class="text-muted fw-bold">SERVICIO:</h6>
          <p class="text-muted" *ngIf="quotation.service">
            {{
              quotation.service && quotation.service.service_order
                ? "FOLIO: " + quotation.service.service_order
                : "ID: " + quotation.service._id
            }}
          </p>
          <p class="text-danger" *ngIf="!quotation.service">No asignado</p>
        </div>
        <div class="row m-0" *ngIf="quotation.service">
          <div class="col-12">
            <p class="">
              <b>Equipo:</b>
              <span class="px-2">{{
                quotation.service.equipment?.equipment
              }}</span>
            </p>
          </div>
          <div class="col-4">
            <p class="">
              <b>Marca:</b>
              <span class="px-2">{{
                quotation.service.equipment?.brand
                  ? quotation.service.equipment?.brand
                  : ""
              }}</span>
            </p>
          </div>
          <div class="col-4">
            <p class="">
              <b>Model:</b>
              <span class="px-2">{{
                quotation.service.equipment?.model
                  ? quotation.service.equipment?.model
                  : ""
              }}</span>
            </p>
          </div>
          <div class="col-4">
            <p class="">
              <b>Serie:</b>
              <span class="px-2">{{
                quotation.service.equipment?.serial_no
                  ? quotation.service.equipment?.serial_no
                  : ""
              }}</span>
            </p>
          </div>
          <div class="col-12" *ngIf="quotation.service.general_description">
            <p class="">
              <b>Descripcion:</b>
              <span class="px-2">{{
                quotation.service.general_description
              }}</span>
            </p>
          </div>
          <div class="col-12" *ngIf="quotation.service.diagnostic">
            <p class="">
              <b>Diagnostico:</b>
              <span class="px-2">{{ quotation.service.diagnostic }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- INVOICE -->
    <div class="col-4">
      <p class="text-capitalize">
        {{
          quotation.invoice_required
            ? "Requiere Factura"
            : "No requiere factura - Publico En General"
        }}
      </p>
    </div>

    <!-- DATE END -->
    <div class="col-4">
      <p class="">
        Finalizado en:
        <span class="px-2" *ngIf="quotation.date_end">
          {{ quotation.date_end | date }}
        </span>
        <span class="px-2 text-muted" *ngIf="!quotation.date_end">
          pendiente
        </span>
      </p>
    </div>

    <!-- ITEMS & TOTAL -->
    <div class="col-12 my-5">
      <div class="col-12">
        <h6 class="fw-bold">ARTICULOS A COTIZAR:</h6>
      </div>
      <div class="row p-4">
        <div class="col-4">
          <p class="">
            <span class="fw-bold px-2">
              {{
                quotation.quotation_items ? quotation.quotation_items.length : 0
              }}
            </span>
            Articulos en total
          </p>
        </div>
        <div class="col-3">
          <p class="">Dolar $21.0</p>
        </div>
        <div class="col-5">
          <div class="row">
            <div class="col-6 text-end">
              <p>SubTotal:</p>
              <p>IVA:</p>
              <p class="fw-bold">TOTAL:</p>
            </div>
            <div class="col-6 text-end">
              <p>
                {{ (quotation.subtotal ? quotation.subtotal : 0) | currency }}
              </p>
              <p>{{ (quotation.iva ? quotation.iva : 0) | currency }}</p>
              <p class="fw-bold">
                {{ (quotation.total ? quotation.total : 0) | currency }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- NOTES -->
    <div class="col-12">
      <h6 class="fw-bold">NOTAS</h6>
      <div class="row p-1" *ngIf="quotation.notes">
        <div
          class="col-12 p-2"
          *ngFor="let note of quotation.notes; let i = index"
        >
          <app-qt-card-note-resumen-v1
            (emitNote)="setNote(i, $event)"
            (emitDeleteNote)="deleteNote(i, $event)"
            [note]="note"
          ></app-qt-card-note-resumen-v1>
        </div>
      </div>
    </div>
  </div>
</div>
