.float-btn{
    position: fixed;
    bottom: 30px;
    right: 35px;
    z-index: 1100;
    border-radius: 50px !important;
    text-align: center;
    margin: auto !important;
    padding: auto !important;
}